* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./assets//images/casino.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 900px;
  margin: auto;
}
button {
  cursor: pointer;
}

header {
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}
header p,
main > p {
  padding: 0.5rem 1rem;
  border-radius: 14px;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.5) 0%,
    rgba(252, 252, 252, 0.1) 100%
  );
}

header > p:nth-of-type(2) {
  color: gray;
  font-size: 1.5rem;
}
header > p:nth-of-type(2) > span:last-child {
  color: red;
  display: inline-block;
  margin-left: 1rem;
  animation: infinite 1.2s animateHeart;
}
@keyframes animateHeart {
  /* scale down and scale up faster in irregular intervals to get the throbbing effect */
  0% {
    transform: scale(1.6);
  }
  5% {
    transform: scale(1.8);
  }
  10% {
    transform: scale(1.6);
  }
  15% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.6);
  }
}
.red {
  color: red;
}

.black {
  color: black;
}
main {
  text-align: center;
}

main > div {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 12rem;
}

.left {
  grid-column: 1/2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.right {
  position: absolute;
  grid-column: 2/3;
  left: 50%;
  transform: translateX(-50%);
}

.card-flip-hide {
  transition: all ease-in-out 1s;
  /* because of the already existing transform translateX(-50%) the card appear to rotate outside its x*/
  transform: rotateY(180deg) translateX(-50%);
}

main > div article {
  border-radius: 4px;
  background-color: white;
  padding: 0.5rem;
  width: 8rem;
  aspect-ratio: 4/6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 16px 4px black;
}

main > div article > div:nth-child(1) {
  align-self: flex-start;
  padding-left: 0.5rem;
}
main > div article > div:nth-child(2) {
  font-size: 2rem;
}

main > div article > div:nth-of-type(3) {
  align-self: flex-end;
  padding-left: 0.5rem;
  transform: rotate(180deg);
}

main > div article > div:nth-child(1),
main > div article > div:nth-of-type(3) {
  font-size: 1.3rem;
}

main img {
  width: 8.3rem;
  transform: translateY(-1.5%);
  aspect-ratio: 4/6;
}
main > p {
  margin-top: 2rem;
}
footer {
  text-align: center;
}

footer > section > button {
  color: wheat;
  width: 15rem;
  background-color: transparent;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 700px) {
  main > div {
    grid-row: 2/8;
  }
  footer > section {
    display: flex;
    justify-content: center;
  }
  footer > section > button {
    padding: 0.8rem 3rem;
  }
  footer > section > button:nth-child(1) {
    border-radius: 6px 0 0 6px;
  }
  footer > section > button:nth-child(3) {
    border-radius: 0 6px 6px 0;
  }
}
