body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 8fr 1.5fr;
  gap: 1rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: purple;
  grid-area: header;
}

main {
  background-color: #b2008a;
  grid-area: main;
  display: grid;
}

footer {
  background-color: #c1c99a;
  grid-area: footer;
}
