body {
  height: 100vh;
}
.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 0.2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 2fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  grid-area: header;
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "section-1 section-2"
    "section-3 section-4";
}
header section:nth-last-of-type(1) {
  grid-area: section-1;
}
header section:nth-last-of-type(2) {
  grid-area: section-2;
}
header section:nth-last-of-type(3) {
  grid-area: section-3;
}
header section:nth-last-of-type(4) {
  grid-area: section-4;
}
header article {
  height: 100%;
  background-color: purple;
}
main {
  margin: 0.5rem 0rem;
  grid-area: main;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "row-1"
    "row-2"
    "row-3";
}
main article {
  background-color: pink;
}
main article:nth-last-of-type(1) {
  grid-area: row-1;
}
main article:nth-last-of-type(2) {
  grid-area: row-2;
}
main article:nth-last-of-type(3) {
  grid-area: row-3;
}
footer {
  grid-area: footer;
  background-color: lightgray;
}

@media screen and (min-width: 790px) {
  header {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  main {
    /* margin-top: -5rem; */

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "row-1 row-2 row-3";
  }
}
